* {
    /* width: 100%; */
    padding: 0;
    margin: 0;
}

body {
    background-color: blueviolet;
}

#header {
    width: 90%;
    margin: 0 auto;
}

#header-img {
    width: 60px;
    float: left;
    margin-left: 80px;
}

/* #nav */

#nav li {
    float: right;
    list-style: none;
    font-size: 1.4rem;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    margin: 20px 40px;
}

#nav a {
    text-decoration: none;
}

#nav-bar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 60px;
    background-color: bisque;
    z-index: 9999;
    /* float: right; */
}

.product-container {
    display: flex;
    width: 100%;
}

.products {
    height: 300px;
    background: white;
    margin: 10px;
    flex-grow: 1;
    border: 1px solid rgb(239 10 10 / 70%);
    border-radius: 20px;
}

input {
    display: block;
    width: 100%;
    margin-bottom: 10px;
}

h1 {
    margin-bottom: 40px;
}

h2 {
    margin-top: 50px;
}

form {
    max-width: 400px;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 180px;
}

#form-group {
    display: flex;
    align-items: center;
    flex-direction: column;
}

input {
    padding: 10px;
    font-size: 1rem;
    border-radius: 2px;
}

input[type="submit"] {
    padding: 3px;
    font-size: 20px;
}

@media (min-width: 1000px) {
    input {
        padding: 10px;
        font-size: 1rem;
        border-radius: 2px;
    }
    input[type="submit"] {
        padding: 3px;
        font-size: 20px;
    }
}

@media (max-width: 600px) {
    input {
        padding: 20px;
        font-size: 1.7rem;
    }
    input[type="submit"] {
        padding: 10px;
        font-size: 25px;
    }
    * {
        font-size: 3.5 rem;
    }
}

.products-info h2 {
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    font-size: 30px;
    margin-bottom: 10px;
}

.products-info p {
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1.2rem;
    text-align: justify;
}

form h1 {
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    font-size: 30px;
}